/* AGSGreen 258313 */
/* todo - finish sub iPad mobile views */
/* grey  */
/* CSS Normalize */
@import url('https://fonts.googleapis.com/css?family=Mada:200,400,500|Roboto:300,400');
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
box-sizing: border-box; }

body {
    color: #e4e4e4;
    font-weight: 600;
    font-size: 1em;
    background-color: #090B08;
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100vh;
}
.ui.grid > .row {
    padding: 0px;
    margin: 10px;
}

.header.row {
    margin: 20px;
    padding: 10px;
}

.header_socialIcons,a {
    color: #258313;
    padding: 10px;
}

#logo {
    padding-left: 5px;
    padding-right: 5px;
    font-family: Mada;
}
.header_logo {
    font-size: 2em;
    text-align: center;
    padding: 0;
    color: #258313;
    font-family: Mada;
    font-weight: 200;
}

.header_mobileMenuIcon {
    padding: 10px;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 0px;`
    
}
.bars {
    color: #258313;
}
ul,a,li {
    list-style: none;
    display: inline;
    text-decoration: none;
    text-align: center;
}

.header_mobileNav.row {
    font-size: 1.8em;

    margin-bottom: 5px;
    text-align: center;
    padding-left: .4em;
    text-align: center;
    text-decoration: none;
    color: white;
    display: none;
}

#portfolioHeading {
    margin-left: 25px;
    margin-bottom: -15px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 2em;
}

.portfolio_individualProject {
    padding: 10px;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.portfolio_individualProject.row {
    background-color: #3c3c3c;
    opacity: 75%;
    border-radius: 12px;
    margin: 10px;
}

.mini.ui.primary.button {
    width: 100%;
    padding:10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px;
    margin-left: 0px;
    border-style: solid;
    border-radius: 5px;
    border-color: #258313;
    border-width: 2px;
    background-color: #444943;
    color: white;
}

#projectButtons {
    color: white;
}

.blogSections {
    background-color: #3c3c3c;
    opacity: 75%;
    border-radius: 12px;
    color: #e4e4e4;
    margin-bottom: 30px;
}

.blogBody {
    font-color: #e4e4e4;
    margin-left: 10px;
    margin-right 10px;
    margin-left: 40px;
    text-align: center;
}
.blogBody,p,h2 {
    padding-left: 10px;
}

.blogHeader {
    background-color: #258313;
    border-radius: 12px 12px 0px 0px;
    padding-left: 15px;
}

.blogTitle {
    text-align: center;
    margin: .2rem;
}

#contactHeading {
    margin-left: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
    font-size: 2em;
}

#contactBody {
    background-color: #3c3c3c;
    opacity: 75%;
    border-radius: 12px;
    margin-left: 38px;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 80%;
    color: black;
}

.headingTwo {
    font-size: 1.3em;
    text-align: center;
    margin:10px;
}

.name{
    margin-top: 25px;
}

.email {
    margin-top: 5px;
}

.help {
    margin-top: 20px;
    font-size: 1.2em;
}
.contactType2 {
    margin-top: 5px;
}

.description {
    font-size: 1.2em;
    margin-top: 20px;
}

.contactDescriptionBody {
    margin-top: 0px;
}
textarea {max-width:95%;}
.ui.primary.button.submit {
    background-color: #258313;
    color: white
}
@media screen and (min-width: 300px) {
    #desktopMenu {
        display: none;
    }
}

#footer {
    padding: 10px;
    color: #258313;
}
