<div id='footer' class=" sixteen wide centered columm">
  <p>© Copyright 2018 Made by: Any Given Solutions</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src='../scripts/jquery.js'></script>
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101161321);</script>
<script async src="//static.getclicky.com/js"></script>

</div>
</body>
</html>
