<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <style>
@import url('https://fonts.googleapis.com/css?family=Mada:300,600,700');
        </style>
        <link rel="stylesheet" href="/styles/css/app.css">
        <title>{{pageTitle}}</title>
    </head>
    <body>
    <div class="ui grid"><!--start main container-->
  <div class="header row"><!-- start header -->
    <!-- start socialIcons -->
    <div class="header_socialIcons two wide column">
      <a href="https://twitter.com/ags_webdev"><i class="twitter large icon"></i></a>
      <a href="https://github.com/anygivensolutions"><i class="github large icon"></i></a>
    </div>
    <!-- end socialIcons-->
    <!--start logo -->
        <div id="logo" class="twelve wide column">
          <h1  class="header_logo">Any Given Solutions</h1>
      </div>
    <!--end logo-->
    <!-- mobile menu icon --> 
    <div class="header_mobileMenuIcon sidebar column">
       <i class="bars large icon"></i>
    </div>
    <div class="header_mobileNav row">
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/blog"><li>Blog</li></a>
        <a href="/contact"><li>Contact</li></a>
      </ul>
    </div>
  </div>