{{>header}}
<!-- //block-name_element-name__modifier -->
{{!-- todo refactor code that is easier and cleaner  --}}
{{!-- change to header_nav__mobile / header_nav__tablet header_nav__desktop --}}
    <!-- Portfolio Section Start -->
  <div id="portfolioHeading" class="sectionLabel_portfolio row">
    Portfolio
  </div>
  <div class="portfolio row">
    <div class="portfolio_projects sixteen wide column">
    <!-- Wandas Tours Project --> 
      <div class="portfolio_individualProject row">
        <img class='image' src="/images/wandastours.png" alt="">
        <div class="portfolio_description centered row ">
          <p>Wandas Tours is a small family oriented travel agency. They focus on groups, low costs & customer service. Their goal was to show their available tours, their low costs and give the user the ability to sign up for their desired vacation.</p>
        </div>
        <div class="centered">
          <!--two butttons here view site github  -->
          <div id="projectButtons" class="centered mini ui primary button">
            <a href="#">Github</a>
          </div>
          <a href="#">
          <div class="centered mini ui primary button">
            View Demo
          </div>
          </a>
        </div>
      </div>
      <!-- yelpCamp Project -->
      <div class="portfolio_individualProject row">
        <img src="/images/yelpCamp3d.png" alt="">
        <div class="portfolio_description centered row">
          <p>The yelpCamp app is a project that will allow users to register and login, securely. Once they are logged in they can add campsites, and comment on other campsites. Logged in or not every one can view a campsite.</p>
        </div>
        <div class="centered">
          <!--two butttons here view site github  -->
          <div class="centered mini ui primary button">
            <a href="#">Github</a>
          </div>
          <div class="centered mini ui primary button">
            <a href="#">View Demo</a>
          </div>
        </div>
      </div>
      <!-- pomodoro Project -->
      <div class="portfolio_individualProject row">
        <img src="/images/pomodoro3d.png" alt="">
        <div class="portfolio_description centered row">
          <p>The Pomodoro project was based on creating a timer to increase productivity. The goal is to allow the user to set a time for the amount of miuntes they would like to work. Followed by an allotted time for a break.</p>
        </div>
        <div class="centered">
          <!--two butttons here view site github  -->
          <div class="centered mini ui primary button">
            <a href="#">Github</a>
          </div>
          <div class="centered mini ui primary button">
            <a href="#">View Demo</a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div><!-- end of main container -->
{{>footer}} 
